<div class="container-xl">
    <form class="form-inline" (ngSubmit)="search()">
        <div class="form-group">
            <input class="form-control" type="text" [(ngModel)]="key" name="key">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>


    <div>
        <div *ngFor="let sr of results" class="SearchResult d-flex">
            <div class="result-type">{{sr.type}}</div>
            <div class="result-title">{{sr.title}}</div>
            <div class="result-description">{{sr.description}}</div>
            <a *ngIf="sr.type == 'USER'" ng-href="">USER</a>
            <a *ngIf="sr.type == 'POST'" ng-href="">POST</a>
        </div>
    </div>
</div>
