<div class="container-xl">

	<div class="row">
		<div class="col">
			<div class="form-group">
				<label for="title">Title</label>
				<input [(ngModel)]="title" type="text" class="form-control" id="title" placeholder="Title">
			</div>
		</div>
		<div class="col">
			<div class="form-group">
				<label for="subtitle">Sub title</label>
				<input [(ngModel)]="subTitle" type="text" class="form-control" id="subtitle" placeholder="Sub title">
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="privacy">Privacy</label>
		<select class="form-control" id="privacy" [(ngModel)]="status">
			<option value="PUBLIC">Public</option>
			<option value="PRIVATE">Private</option>
		</select>
	</div>

	<div class="form-group">
		<label for="content">Content</label>
		<ckeditor id="content" [config]="config" [editor]="Editor" [(ngModel)]="content" [data]="content" #ckEditorComponent></ckeditor>
	</div>
	<button (click)="save()">Create</button>
</div>
