<div class="wrapper" style="font-family: 'Palatino Linotype',sans-serif">
    <div class="inner" style="background-color:ghostwhite">
        <div class="image-holder loginimg d-flex align-items-center">
            <img src="assets/static/image/register/customer-experience-blog.jpg" alt="" style="margin-top: 0">
        </div>
        <form [formGroup]="formGroup" (ngSubmit)="save()">
            <h3>Update user</h3>
            <div class="form-holder">
                <input formControlName="email" type="email" name="email" class="form-control" placeholder="email">
            </div>
            <div class="form-holder">
                <input formControlName="firstName" type="text" name="firstName" class="form-control" placeholder="firstName">
            </div>
            <div class="form-holder">
                <input formControlName="lastName" type="text" name="lastName" class="form-control" placeholder="lastName">
            </div>
            <div class="form-holder">
                <input formControlName="phone" type="email" name="phone" class="form-control" placeholder="phone">
            </div>
            <div class="form-holder">
                <select formControlName="gender" name="gender" class="form-control" placeholder="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-holder">
                <input formControlName="address" type="email" name="address" class="form-control" placeholder="address">
            </div>
            <div class="form-holder">
                <input formControlName="attempts" type="email" name="attempts" class="form-control" placeholder="attempts">
            </div>
            <div class="form-holder">
                <input disabled formControlName="createdAt" type="email" name="createdAt" class="form-control" placeholder="createdAt">
            </div>
            <div class="form-holder">
                <input disabled formControlName="updatedAt" type="email" name="updatedAt" class="form-control" placeholder="updatedAt">
            </div>

            <div class="form-check form-check-inline">
                <input formControlName="enabled" class="form-check-input" type="checkbox" id="enabled">
                <label class="form-check-label" for="enabled">enabled</label>
            </div>


            <div class="form-check form-check-inline">
                <input formControlName="accountNonExpired" class="form-check-input" type="checkbox" id="accountNonExpired">
                <label class="form-check-label" for="accountNonExpired">accountNonExpired</label>
            </div>

            <div class="form-check form-check-inline">
                <input formControlName="credentialsNonExpired" class="form-check-input" type="checkbox" id="credentialsNonExpired">
                <label class="form-check-label" for="credentialsNonExpired">credentialsNonExpired</label>
            </div>

            <div class="form-check form-check-inline">
                <input formControlName="accountNonLocked" class="form-check-input" type="checkbox" id="accountNonLocked">
                <label class="form-check-label" for="accountNonLocked">accountNonLocked</label>
            </div>


            <button type="submit" style="margin-top: 10px">Save
                <i class="zmdi zmdi-long-arrow-right "></i>
            </button>
        </form>
    </div>
</div>
<script src="src/assets/static/js/jquery-3.3.1.min.js"></script>
<script src="src/assets/static/js/main.js"></script>
