<nav class="main-header navbar navbar-expand navbar-white bg-dark " style="font-family: 'Palatino Linotype',sans-serif">
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active mr-sm-3">
				<a class="nav-link color-white" routerLink="/">
					<i class="fa fa-home fa-lg"></i>
					HTTQ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; |</a>
				<span class="sr-only">(current)</span>
			</li>
			<li class="nav-item">
				<a class="nav-link"
				   style="color: whitesmoke">{{today <= 12 ? 'Good morning' : today <= 17 ? 'Good Afternoon' : today <= 21 ? ' Good evening' : 'Good night'}}</a>
			</li>
		</ul>
		<div class="my-2 my-lg-0">
			<app-seek class="navbar-nav mr-auto"></app-seek>
		</div>
		<div class="my-2 my-lg-0">
			<ul class="navbar-nav mr-auto" *ngIf="auth.isLogin() === false">
				<li class="nav-item">
					<a class="nav-link" routerLink="login" style="color: #eeeeee"><i
						class="fas fa-sign-in-alt fa-lg"></i> Sign in</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="register" style="color: #eeeeee"><i
						class="fas fa-user-plus fa-lg"></i> Get started</a>
				</li>
			</ul>
			<div class="dropdown ml-4" *ngIf="auth.isLogin()">
				<div class="dropdown-toggle text-white" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Tài khoản
				</div>
				<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
					<a class="dropdown-item" [routerLink]="'/profile'">Trang cá nhân</a>
					<a class="dropdown-item" [routerLink]="'/post'">Đăng nhật ký</a>
					<a class="dropdown-item" (click)="auth.logout()"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
				</div>
			</div>
		</div>
	</div>
</nav>
