<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Welcome Administrator</div>
    <div class="list-group list-group-flush">
        <a  class="list-group-item list-group-item-action bg-light" routerLink="app-report">Dashboard</a>
        <a class="list-group-item list-group-item-action bg-light" routerLink="user-list">Guess Management</a>
        <a  class="list-group-item list-group-item-action bg-light" routerLink="create-user">Create User</a>
    </div>
</div>
