<div class="container-fluid">
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2>Create Guest</h2>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/admin/">Home</a></li>
                    <li class="breadcrumb-item active">Create Guest</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<section class="content">
    <form>
        <input formControlName="firstName" type="text" name="firstName" class="form-control" placeholder="First Name">
        <input formControlName="lastName" type="text" name="lastName" class="form-control" placeholder="Last Name">
        <input formControlName="email" type="text" name="email" class="form-control" placeholder="Email">
        <div class="form-holder">
            <select formControlName="gender" name="gender" class="form-control" placeholder="Gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div>
        <input formControlName="password" type="password" name="password" class="form-control" placeholder="Password">
        <input formControlName="confirmPassword" type="password" name="confirmPassword" class="form-control"
               placeholder="Confirm Password">
        <div class="row mt-1 text-center">
            <div class="col-12">
                <a routerLink="/admin/" class="btn btn-secondary p-2 rounded">Cancel</a>
                <a class="btn btn-secondary p-2 ml-2 rounded">Create</a>
            </div>
        </div>
    </form>
</section>
</div>
<script src="src/assets/static/js/main.js"></script>
