<div class="wrapper" style="font-family: 'Palatino Linotype',sans-serif">
    <div class="inner" style="background-color:ghostwhite">
        <div class="image-holder loginimg">
            <img src="assets/static/image/register/customer-experience-blog.jpg" alt="" style="margin-top: 0">
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h3>Login</h3>
            <div class="form-holder">
                <input formControlName="email" type="email" name="email" class="form-control" [class.is-invalid]="form.get('email').invalid" placeholder="Email">
                <div class="invalid-feedback">
                    Please provide a valid email.
                </div>
            </div>
            <div class="form-holder">
                <input formControlName="password" type="password" name="password" class="form-control" [class.is-invalid]="form.get('password').invalid" placeholder="Password">
                <div class="invalid-feedback">
                    Please provide a valid password.
                </div>
            </div>
            <button type="submit" style="margin-top: 10px">Login
                <i class="zmdi zmdi-long-arrow-right "></i>
            </button>
        </form>
    </div>
</div>
<script src="src/assets/static/js/jquery-3.3.1.min.js"></script>
<script src="src/assets/static/js/main.js"></script>
