<div class="wrapper" style="font-family: 'Palatino Linotype',sans-serif">
    <div class="inner" style="background-color:ghostwhite">
        <div class="image-holder loginimg">
            <img src="assets/static/image/register/customer-experience-blog.jpg" alt="" style="margin-top: 0">
        </div>
        <form action="">
            <h3>Login</h3>
            <input type="text" class="form-control" placeholder="Email">
            <div class="form-holder">
                <input type="text" class="form-control" placeholder="Pass word">
            </div>
            <button style="margin-top: 10px">Login
                <i class="zmdi zmdi-long-arrow-right "></i>
            </button>
        </form>
    </div>
</div>
<script src="src/assets/static/js/jquery-3.3.1.min.js"></script>
<script src="src/assets/static/js/main.js"></script>
