<div class="wrapper" style="font-family: 'Palatino Linotype',sans-serif">
    <div class="inner" style="background-color:ghostwhite">
        <div class="image-holder loginimg">
            <img src="assets/static/image/register/customer-experience-blog.jpg" alt="" style="margin-top: 150px">
        </div>
        <form [formGroup]="form" (ngSubmit)="updateUser()">
            <h3>Change information</h3>
            <div class="form-group">
                <label for="firstName">FirstName: </label>
                <input formControlName="firstName" type="text" class="form-control" [class.is-invalid]="form.get('firstName').invalid" id="firstName">
                <div class="invalid-feedback">
                    Please provide a valid firstName.
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name: </label>
                <input formControlName="lastName" type="text" class="form-control" [class.is-invalid]="form.get('lastName').invalid" id="lastName">
                <div class="invalid-feedback">
                    Please provide a valid lastName.
                </div>
            </div>
            <div class="form-group">
                <label for="phone">Phone: </label>
                <input formControlName="phone" type="text" class="form-control" id="phone">
            </div>
            <div class="form-group">
                <label for="gender">Gender: </label>
                <input formControlName="gender" type="text" class="form-control" [class.is-invalid]="form.get('gender').invalid" id="gender">
                <div class="invalid-feedback">
                    Please provide a valid phone.
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address: </label>
                <input formControlName="address" type="text" class="form-control" id="address">
            </div>
            <button type="submit" class="btn btn-default btn-warning">Change</button>
        </form>
    </div>
</div>

<div class="wrapper" style="font-family: 'Palatino Linotype',sans-serif">
    <div class="inner" style="background-color:ghostwhite">
        <div class="image-holder loginimg">
            <img src="assets/static/image/register/customer-experience-blog.jpg" alt="" style="margin-top: 20px">
        </div>
        <form [formGroup]="formChangePW" (ngSubmit)="changePassword()">
            <h3>Change password</h3>
            <div class="form-group">
                <label for="password">Enter password: </label>
                <input formControlName="password" type="text" class="form-control" id="password">
            </div>
            <div class="form-group">
                <label for="newPassword">Enter new password: </label>
                <input formControlName="newPassword" type="text" class="form-control" id="newPassword" >
            </div>
            <div class="form-group">
                <label for="confirmNewPassword">Confirm password: </label>
                <input formControlName="confirmNewPassword" type="text" class="form-control" id="confirmNewPassword" >
            </div>
            <button type="submit" class="btn btn-default btn-warning">Change</button>
        </form>
    </div>
</div>
<script src="src/assets/static/js/jquery-3.3.1.min.js"></script>
<script src="src/assets/static/js/main.js"></script>
