<div class="wrapper" style="font-family: 'Palatino Linotype',sans-serif">
    <div class="inner" style="background-color:ghostwhite">
        <div class="image-holder">
            <img src="assets/static/image/register/customer-experience-blog.jpg" alt="">
        </div>
        <form action="">
            <h3>Register</h3>
            <input type="text" class="form-control" placeholder="First Name">
            <input type="text" class="form-control" placeholder="Last Name">
            <input type="text" class="form-control" placeholder="Email">
            <div class="form-holder">
                <select name="" id="aaa" class="form-control">
                    <option value="" disabled selected>Gender</option>
                    <option value="class 01">Male</option>
                    <option value="class 02">Female</option>
                    <option value="class 03">Other</option>
                </select>
            </div>
                <input type="text" class="form-control" placeholder="Pass word">
            <input type="text" class="form-control" placeholder="Confirm Pass word">
            <button style="margin-top: 10px">Register
                <i class="zmdi zmdi-long-arrow-right "></i>
            </button>
        </form>
    </div>
</div>

<script src="src/assets/static/js/jquery-3.3.1.min.js"></script>
<script src="src/assets/static/js/main.js"></script>
