<div class="seek" style="position: relative">
    <input class="form-control m-0" type="text" [(ngModel)]="key" (input)="search()" (focusout)="inputFocusOut()"
           id="seek-input">
    <ul class="seek-result" *ngIf="showResult"
        style="position: absolute; top: 50px; background-color: white;z-index: 999;border: #17a2b8 solid 1px;width: 100%">
        <li *ngIf="results.length <= 0">Found no item match.</li>
        <li  *ngFor="let sr of results">
            <a [routerLink]="sr.url">
                {{sr.type}} | {{sr.title}}
            </a>
        </li>
    </ul>

</div>

