
<section class="blog-area">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-md-12">
                <div class="blog-posts">

                    <div class="single-post">
                        danh sach bai dang
                        <div class="image-wrapper"><img src="assets/images/blog-2-1000x600.jpg" alt="Blog Image"></div>

                        <div class="icons">
                            <div class="left-area">
                                <a class="btn caegory-btn" href="#"><b>TRAVEL</b></a>
                            </div>
                            <ul class="right-area social-icons">
                                <li><a href="#"><i class="ion-android-share-alt"></i>Share</a></li>
                                <li><a href="#"><i class="ion-android-favorite-outline"></i>03</a></li>
                                <li><a href="#"><i class="ion-android-textsms"></i>06</a></li>
                            </ul>
                        </div>
                        <p class="date"><em>Monday, October 13, 2017</em></p>
                        <h3 class="title"><a href="#"><b class="light-color">This is post about travel, adventure and fun</b></a></h3>
                        <p class="desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                            dolore magnam aliquam quaerat voluptatem.</p>

                        <p class="desc">Eerror sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                            dolore magnam aliquam quaerat voluptatem.</p>

                        <h5 class="quoto"><em><i class="ion-quote"></i>Eerror sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                            consectetur, adipisci velit
                        </em></h5>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="image-wrapper"><img src="assets/images/blog-9-600x600.jpg" alt="Blog Image"></div>
                            </div><!-- col-sm-6 -->
                            <div class="col-sm-6">
                                <div class="image-wrapper"><img src="assets/images/blog-10-600x600.jpg" alt="Blog Image"></div>
                            </div><!-- col-sm-6 -->
                        </div><!-- row -->


                        <p class="desc">Eerror sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                            consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                            dolore magnam aliquam quaerat voluptatem.</p>

                        <div class="circular-pregress center-text">
                            <div class="row">

                                <div class="col-sm-4">
                                    <div class="circliful" data-animation="1" data-animationStep="5" data-percent="75" data-foregroundBorderWidth="3"
                                         data-backgroundBorderWidth="3" data-foregroundColor="#FFAD4D" data-backgroundColor="#ddd"
                                         data-fontColor="#222"></div>
                                    <h4><b class="light-color">Awsome</b></h4>
                                    <h6 class="pre-writing">Etium nec odio</h6>
                                </div><!-- col-sm-4 -->

                                <div class="col-sm-4">
                                    <div class="circliful" data-animation="1" data-animationStep="5" data-percent="83" data-foregroundBorderWidth="3"
                                         data-backgroundBorderWidth="3" data-foregroundColor="#FFAD4D" data-backgroundColor="#ddd"
                                         data-fontColor="#222"></div>
                                    <h4><b class="light-color">Creative</b></h4>
                                    <h6 class="pre-writing">Odio vestibum</h6>
                                </div><!-- col-sm-4 -->

                                <div class="col-sm-4">
                                    <div class="circliful" data-animation="1" data-animationStep="5" data-percent="97" data-foregroundBorderWidth="3"
                                         data-backgroundBorderWidth="3" data-foregroundColor="#FFAD4D" data-backgroundColor="#ddd"
                                         data-fontColor="#222"></div>
                                    <h4><b class="light-color">Oustsanding</b></h4>
                                    <h6 class="pre-writing">Etium nec odio</h6>
                                </div><!-- col-sm-4 -->

                            </div><!-- row -->
                        </div><!-- circular-pregress -->


                        <p class="desc">Eerror sit voluptatem accusantium doloremque
                            laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                            architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas
                            dolore magnam aliquam quaerat voluptatem.</p>


                        <div class="embed-video" data-source="youtube"
                             data-video-url="https://www.youtube.com/watch?v=C-Q7GeQG6iE"></div>
                    </div>
                    <!-- single-post -->

                    <div class="recomend-area">
                        <h4 class="title"><b class="light-color">My recommendation</b></h4>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="recomend">
                                    <div class="post-image"><img src="assets/images/recomended-1-200x200.jpg" alt="Post Image"></div>

                                    <div class="post-info">
                                        <a class="btn category-btn" href="#">TRAVEL</a>
                                        <h5 class="title"><a href="#"><b class="light-color">One more night in</b></a></h5>
                                        <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                                        <p>Sed ut unde omnis iste natus error sit.</p>
                                    </div><!-- post-info -->
                                </div><!-- recomend -->

                            </div><!-- col-md-6 -->

                            <div class="col-md-6">

                                <div class="recomend">
                                    <div class="post-image"><img src="assets/images/recomended-2-200x200.jpg" alt="Post Image"></div>

                                    <div class="post-info">
                                        <a class="btn category-btn" href="#">TRAVEL</a>
                                        <h5 class="title"><a href="#"><b class="light-color">One more night in</b></a></h5>
                                        <h6 class="date"><em>Monday, October 13, 2017</em></h6>
                                        <p>Sed ut unde omnis iste natus error sit.</p>
                                    </div><!-- post-info -->
                                </div><!-- recomend -->

                            </div><!-- col-md-6 -->

                        </div><!-- row -->
                    </div><!-- recomend-area -->


                </div><!-- blog-posts -->
            </div><!-- col-lg-4 -->

            <div class="col-lg-4 col-md-12">
                <div class="sidebar-area">

                    <div class="sidebar-section about-author center-text">
                        <div class="author-image"><img src="assets/images/author-1-200x200.jpg" alt="Autohr Image"></div>

                        <ul class="social-icons">
                            <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
                            <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
                        </ul><!-- right-area -->

                        <h4 class="author-name"><b class="light-color">Nguyễn Ngọc Quỳnh {{user.firstName}}</b></h4>
                        <div class="">
                            <div class="form-group ">
                                <label class="text-info"> <b> Birthday : </b></label> 17-8-1990
                            </div>
                            <div class="form-group ">
                                <label class="text-info"> <b> Gender : </b></label> Female
                            </div>
                            <div class="form-group ">
                                <label class="text-info"> <b> Address : </b></label> Ha Dong,Ha Noi
                            </div>
                        </div>

                        <div class="signature-image"><img src="assets/images/signature-image.png" alt="Signature Image"></div>

                        <a class="read-more-link" href="#"><b>Edit Profile Or Change Password</b></a>

                    </div><!-- sidebar-section about-author -->

                </div><!-- about-author -->
            </div><!-- col-lg-4 -->

        </div><!-- row -->
    </div><!-- container -->
</section><!-- section -->
<footer>
    <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <div class="footer-section">
                    <p class="copyright">Juli &copy; 2018. All rights reserved | Made with <i class="ion-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a></p>
                </div><!-- footer-section -->
            </div><!-- col-lg-4 col-md-6 -->

            <div class="col-sm-6">
                <div class="footer-section">
                    <ul class="social-icons">
                        <li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
                        <li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
                    </ul>
                </div><!-- footer-section -->
            </div><!-- col-lg-4 col-md-6 -->

        </div><!-- row -->
    </div><!-- container -->
</footer>


<!-- SCIPTS -->

<script src="assets/common-js/jquery-3.1.1.min.js"></script>

<script src="assets/common-js/tether.min.js"></script>

<script src="assets/common-js/bootstrap.js"></script>

<script src="assets/common-js/grasp_mobile_progress_circle-1.0.0.js"></script>

<script src="assets/common-js/embed.videos.min.js"></script>

<script src="assets/common-js/jquery.circliful.min.js"></script>

<script src="assets/common-js/scripts.js"></script>
