<section class="blog-area">
	<div class="container-xl mt-5 p-0">
		<div class="clearfix">
			<div class="col-lg-4 col-md-12 float-right">
				<div class="sidebar-area">
					<div class="sidebar-section about-author center-text">
						<div class="author-image position-relative">
							<img [src]="auth.user != null ? auth.user.avatar : ''" [alt]="auth.user != null ? auth.user.firstName + ' ' + auth.user.lastName : ''">
							<div class="changer-avatar w-100 position-absolute" (click)="changerAvatar()">Changer</div>
						</div>

						<ul class="social-icons">
							<li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
							<li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
						</ul><!-- right-area -->

						<h4 class="author-name">
							<b class="light-color text-capitalize">
								{{ (auth.user != null ? auth.user.firstName : '') }} {{ (auth.user != null ? auth.user.lastName : '') }}
							</b>
						</h4>
						<div class="">
							<div class="form-group ">
								<label class="text-info"> <b> Gender : </b></label> {{ (auth.user != null ? auth.user.gender : '') }}
							</div>
							<div class="form-group ">
								<label class="text-info"> <b> Address : </b></label> {{ (auth.user != null ? auth.user.address : '') }}
							</div>
						</div>

						<div class="signature-image"><img src="assets/images/signature-image.png" alt="Signature Image">
						</div>

						<a class="read-more-link" href="" [routerLink]="'/editProfile'"><b>Edit Profile</b></a>

					</div><!-- sidebar-section about-author -->

				</div><!-- about-author -->
			</div><!-- col-lg-4 -->

			<div class="col-lg-8 col-md-12 float-left">
				<div>
					<div class="form-group">
						<label for="find-p-diary" class="mb-0">Find diary</label>
						<input [(ngModel)]="searchText" (input)="onInput()" type="text" class="form-control" id="find-p-diary"
						       placeholder="...">
					</div>
				</div>
				<div class="blog-posts mt-5 mb-4" *ngIf="!!postPageable && postPageable.content.length > 0">
					<a *ngFor="let post of postPageable.content" [routerLink]="'/' + post.seo" class="item-post c1 d-flex flex-column">
						<div class="thumb-wrapper">
							<div class="thumb box_shadow1"
							     [style.backgroundImage]="'url(' + (post.thumbnail !== null ? post.thumbnail : '/assets/noimage.png') + ')'"></div>
						</div>
						<h3 class="title">{{ post.title }}</h3>
						<p class="m-0 small c-time mt-1">
							{{ post.createdAt | date:'EEEE, MMMM d, y - HH:mm' }}
						</p>
						<p class="excerpt mt-1">{{ post.contentPlainText }}</p>
						<div class="mt-auto p-tags">
						</div>
					</a>
				</div><!-- blog-posts -->
				<div class="d-flex justify-content-end" *ngIf="!!postPageable && postPageable.content.length > 0">
					<ngb-pagination [collectionSize]="postPageable.totalElements" [pageSize]="postPageable.size" [page]="page" [maxSize]="postPageable.totalPages" [rotate]="true" [boundaryLinks]="true" (pageChange)="pageChange($event)"></ngb-pagination>
				</div>
			</div>
		</div><!-- row -->
	</div><!-- container -->
</section><!-- section -->
<footer>
	<div class="container">
		<div class="row">

			<div class="col-sm-6">
				<div class="footer-section">
					<p class="copyright">Juli &copy; 2018. All rights reserved | Made with <i class="ion-heart"
					                                                                          aria-hidden="true"></i> by
						<a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a
							href="https://themewagon.com" target="_blank">ThemeWagon</a></p>
				</div><!-- footer-section -->
			</div><!-- col-lg-4 col-md-6 -->

			<div class="col-sm-6">
				<div class="footer-section">
					<ul class="social-icons">
						<li><a href="#"><i class="ion-social-facebook-outline"></i></a></li>
						<li><a href="#"><i class="ion-social-twitter-outline"></i></a></li>
						<li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
						<li><a href="#"><i class="ion-social-vimeo-outline"></i></a></li>
						<li><a href="#"><i class="ion-social-pinterest-outline"></i></a></li>
					</ul>
				</div><!-- footer-section -->
			</div><!-- col-lg-4 col-md-6 -->

		</div><!-- row -->
	</div><!-- container -->
</footer>


<!-- SCIPTS -->

<script src="assets/common-js/jquery-3.1.1.min.js"></script>

<script src="assets/common-js/tether.min.js"></script>

<script src="assets/common-js/bootstrap.js"></script>

<script src="assets/common-js/grasp_mobile_progress_circle-1.0.0.js"></script>

<script src="assets/common-js/embed.videos.min.js"></script>

<script src="assets/common-js/jquery.circliful.min.js"></script>

<script src="assets/common-js/scripts.js"></script>
