/* You can add global styles to this file, and also import other style files */

@import 'assets/css/base';

@import 'assets/css/post/post-create';
@import 'assets/css/post/post-view';
@import 'assets/css/home';

body {
  font-size: 14px;
}

.toasts {
  position: fixed;
  bottom: 18px;
  right: 5px;
}
