/* You can add global styles to this file, and also import other style files */

@import 'assets/css/base';

@import 'assets/css/post/post-create';
@import 'assets/css/post/post-view';
@import 'assets/css/home';


body {
  font-size: 14px;
}

.seek{
  a{
    color: lightpink;
  }
  a:hover {
    color: #17a2b8;
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  li:hover{
    background-color: lightblue;
  }
}
